<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team12.cs4850.com.adventurecreator">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostLoginActivity"
            android:label="@string/PostLoginActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SetupProfileActivity"
            android:label="@string/SetupProfileTitle"
            android:launchMode="singleTask"
            android:parentActivityName=".PostLoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AdventureListActivity"
            android:label="@string/AdventureListTitle"
            android:launchMode="singleTask"
            android:parentActivityName=".PostLoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditOrCreateAdventureActivity"
            android:label="@string/title_activity_create_new_adventure"
            android:launchMode="singleTask"
            android:parentActivityName=".AdventureListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventListActivity"
            android:label="@string/EventList"
            android:launchMode="singleTask"
            android:parentActivityName=".EditOrCreateAdventureActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditEventActivity"
            android:label="@string/NewEventActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".AdventureListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EventActivity" />


    </application>

</manifest>